$mocha-rosewater: rgb(245, 224, 220);
$mocha-flamingo: rgb(242, 205, 205);
$mocha-pink: rgb(245, 194, 231);
$mocha-mauve: rgb(203, 166, 247);
$mocha-red: rgb(243, 139, 168);
$mocha-maroon: rgb(235, 160, 172);
$mocha-peach: rgb(250, 179, 135);
$mocha-yellow: rgb(249, 226, 175);
$mocha-green: rgb(166, 227, 161);
$mocha-teal: rgb(148, 226, 213);
$mocha-sky: rgb(137, 220, 235);
$mocha-sapphire: rgb(116, 199, 236);
$mocha-blue: rgb(137, 180, 250);
$mocha-lavender: rgb(180, 190, 254);
$mocha-text: rgb(205, 214, 244);
$mocha-subtext1: rgb(186, 194, 222);
$mocha-subtext0: rgb(166, 173, 200);
$mocha-overlay2: rgb(147, 153, 178);
$mocha-overlay1: rgb(127, 132, 156);
$mocha-overlay0: rgb(108, 112, 134);
$mocha-surface2: rgb(88, 91, 112);
$mocha-surface1: rgb(69, 71, 90);
$mocha-surface0: rgb(49, 50, 68);
$mocha-base: rgb(30, 30, 46);
$mocha-mantle: rgb(24, 24, 37);
$mocha-crust: rgb(17, 17, 27);

* {
        all: unset;
        background-image: url("assets/aot_wallpaper.jpg");
        background-size: 1360px  768px;

        button {
                padding: 10px;
                color: $mocha-sapphire;
                background: $mocha-teal;
                border: solid 0.1em;
        }
}

.bar {

}


